@mixin transition($property, $time) {
	-webkit-transition: $property $time ease;
	-moz-transition: $property $time ease;
	-ms-transition: $property $time ease;
	-o-transition: $property $time ease;
	transition: $property $time ease;
}

.container {
	padding:0;
}
input[type="text"] {
    display: block;
    margin:0 auto;
    border:1px solid #bbb;
    margin-bottom: 10px;
}

button:hover, button:active, button:focus{
	background-color: #000!important;
	border:none!important;
}
.view {
	background: #f2f2f2; /* Old browsers */
	background: -moz-linear-gradient(top, #f2f2f2 30%, #dadada 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #f2f2f2 30%,#dadada 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #f2f2f2 30%,#dadada 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#dadada',GradientType=0 ); /* IE6-9 */
	position: absolute;
	top:0;
	width: 100%;
    text-align:center;
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    overflow:hidden;
    padding:15px;
}

.elements-wrapper {
	position:relative;
	.kb_logo {
		width: 100%;
		height: 15vh;
		margin-bottom: 15vh;
		background-image:url('../../img/KB-logo.png');
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
	}
}


.connect-view {
    z-index: 1;

    .elements-wrapper {
    	height: 10vh;	
    }
    button, input {
		width: 40vw;
		margin: 0 auto;
		opacity: 1;
	}
    
	button {

	}
	
}
.control-view {
	z-index: 1;
	.navigation { 
		// background-image: url('../img/left-arrow.png');
		// padding: 50px 30px;
		// margin:20px 0;
		width: 20vw;
		height:30vh;
		background-size:cover;
		background-position:center;
		background-repeat: no-repeat;
		border:none;
	}
	.choose-product-image {
		width: 50vw;
		height:30vh;
		background-image: url('../../img/wieszak.png');
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		float: left;
		position:absolute;
		top:0;
		bottom:0;
		left:0;
		right:0;
		margin: auto;
	}
	.navigation.left {
		float:left;
		background-image: url('../../img/arrow-left.png')
	}
	.navigation.right {
		float:right;
		background-image: url('../../img/arrow-right.png')
	}
	.photo-button {
		position: fixed;
		bottom:0;
		left:0;
		right:0;
		margin:auto;
		width: 33%;
		height:25vw;
		border-radius: 0px;
		background-color:transparent;
		background-image: url('../../img/photo.png');
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		border: none;
		z-index: 999;
	}
	.coupon-button {
		background-image: url('../../img/gift.png');
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
		height:19vw;
		margin-top: 3vw;
		margin-bottom: 3vw;
		width: 33%;
		position:fixed;
		bottom:0;
		left:0;
		background-color: transparent;
		border:none;

	}
}
.coupon-view {
	z-index: 1;
	background-color:#fff;
	opacity: 0;
	.elements-wrapper {
		padding-top: 50px;
		min-height: 100vh;
		overflow-y: scroll;
		position:relative;
	}
	text-align:center;
	
	#phone-number {
		display: inline;
	}
	.padding-buttons {
		height:60px;
	}
	.buttons {
		position:fixed;
		bottom:0;
		width:100%;
		left:0;
		right:0;
	}
	.row {
		padding-left:20px;
		padding-right:20px;
		input[type="text"], input[type="number"] {
			float: none;
			width: 50%;
			margin:auto;
			border-color: transparent;
		}
		label {
			float:none;
			width: 100%;
			text-align: center;
		}
	}

	.warning {
		border-color: red!important;
		color: red!important;
	}
	.tip {
		padding-top: 30px;
	}
	button {
		text-transform: uppercase;
		border-radius: 0;
		background-color: #000;
		border:none;
		padding:15px;
	}
}
.photo-view {
	z-index: 1;
	background-color: rgba(255,255,255, 0.8);
	padding:0;
	overflow: hidden;
	.photo {
		position: absolute;
		height: 100vh;
		width:100%;
		background-size: cover;
		background-repeat: no-repeat;
	}
	.back-from-photo {
		position: absolute;
		left:0;
		top:0;
		z-index: 9999;
		width:50px;
		height:50px;
		background-image: url("../../img/arrow-back.png");
		background-size:cover;
		background-position:center;
		border:none;
	}
	.facebook-share-button, .photo-download-button {
		position:fixed;
		z-index:9999;
		bottom:0;
		width:70%;
		margin: auto;
		left:0;
		right:0;
		border-radius:0;
		background-color:white;
		color: #000;
		border: none;
		padding: 15px;
		font-size: 20px;
		font-style: uppercase;
		text-transform: uppercase;
		font-weight: 500;
		opacity: 0;
	}
	.facebook-share-button:focus, .facebook-share-button:hover, .facebook-share-button:active, 
	.photo-download-button:focus, .photo-download-button:hover, .photo-download-button:active {
		color: #000;
	}
	.photo-download-button {
		opacity:1;
		bottom:60px;
	}
	.elements-wrapper {
		height: 100vh;
	}
	img {
		width: 100%;
		height: auto;
		position: absolute;
		left:0;
		top:0;
	}
}
.facebook-share-button:hover, .facebook-share-button:active,.facebook-share-button:focus, 
.photo-download-button:hover, .photo-download-button:active,.photo-download-button:focus {
	color: #fff;
}
.loader-view {
	background-color: rgba(255,255,255,1);
	opacity:1;
	z-index:999;
	background-image: url("../../img/default.gif");
	background-position: center;
	background-size: normal;
	background-repeat: no-repeat;

}

.connection-error-view {
	//background-image: url('../img/connection-failure.png');
	.connection-failure-image {
		width: 80vw;
		height: 80vw;
		margin: 0 auto;
		background:white;
		background-color: #fff;
		border-radius:50%;
		background-image: url("../../img/connection-failure.png");
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
	}
}
.connecting-view {
	.connecting-image {
		width: 80vw;
		height: 80vw;
		margin: 0 auto;
		background:white;
		background-color: #fff;
		border-radius:50%;
		background-image: url("../../img/connecting.png");
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
	}
}

.rotate-overlay {
	background-color: #000;
	position:absolute;
	z-index: 99999;
	width:100%;
	height: 100vh;
	display: none;
	top:0;
	.icon {
		width:100px;
		height:100px;
		position: absolute;
		left:0;
		right:0;
		top:0;
		bottom:0;
		margin:auto;
		background-image: url("../../img/screen-rotation-icon.png");
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
	}
}

@media (orientation: landscape) {
	.elements-wrapper {
		.kb_logo {
			height: 20vh;
			margin-bottom: 5vh;
		}
	}
	.connection-error-view {
		.connection-failure-image {
			width: 65vh;
			height: 65vh;
		}
	}
	.control-view {
		.photo-button {
			width: 33vw;
			height:33vh;
		}
		.coupon-button {
			height:27vh;
			width: 33vw;
		}
	}
}
@media (orientation: landscape) and (min-width: 470px) {
	.rotate-overlay {
		display: block;
	}
}